@charset "utf-8";

*{  
	margin: 0px;
	padding: 0px;
}


#wrapper{
	width: 1349px;
	height: 800px;
	background-color: #aec7ea;
	margin:  0 auto;
	border:0px;
}

#header{
	width: auto;
	height: 90px;
	background-color: #693604;
	border-bottom:1px solid black;
    background: -moz-radial-gradient(center, ellipse cover,  #feffff 0%, #f7f7f7 5%, #693604 60%);
    border-radius: 2px;
    background-repeat: no-repeat;
 }
#menu {
	
	 margin-top:0px;
	 padding:0px;
	 margin-left:360px;
}	 

	 
#menu>ul
 {
	margin:0px;
	padding:0px;
	line-height:60px;
	
 }
 

 
#menu>ul>li{
	margin:0px;
	padding:0px;
    list-style: none;
    float:left;
    position: relativ;
	

 }
 
#menu>ul>li>a{
	margin:0px;
	padding:10px 10px 10px 10px;
	 text-align:center;
	 text-decoration:none;
	 text-transform:uppercase;
	 height:67px;
	 width:150px;
	 display:block;
	 color:#3d322d;
	
	 
 }

#menu>ul>li:hover{
	background-color:#f2d9b9;
	
	
	
}
#menu>ul>li>ul{
	display: none;
	position: absolute;
	background-color: #4b9df1;
	width: 180px;
 	top: 50px;
    left: 200px;
    text-align: left;

    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px gray;
	
}



#menu>ul>li.active:hover>ul{
	display:block;
	
}
 
 
#middle{
	width: 1349px;
	min-height: 800px;
	background-color: #7eb289;

	background-image: url("../image/parketi-05.png");
	
	position: relative;

}

.images {
	position:relative;
	
}

#left-side-bar{
	margin-top:1px;
	width: 220px;
	min-height: 500px;
	border:1px;
	float: left;
	border-radius:5px;
}

#left-side-bar>ul {
	margin:0px;
	padding:0px;
	text-decoration:none;

	
	
}
#left-side-bar>ul>li{
	margin:0px;
	padding:0px;
    list-style: none;
	
	
 }
 

#left-side-bar>ul>li>a{
	  color:#fff;
	  display:block;
	  margin-top:0px;
	  padding: 25px 5px 30px 15px;
	  text-decoration:none;
	  text-transform:uppercase;
	  border:1px solid black;
	  border-radius:5px;
	  background-color:  #005321;
      list-style: none;
	 	
	  
  }
#left-side-bar>ul>li>a:hover {
	  color:gray;
	  background-color:#022c13;
	  transition: all 1s;
  }
 
  

#left-side-bar>ul>li>ul{
	display:none;
    margin:0px;
	padding:0px;
    list-style: none;

  }

#left-side-bar>ul>li.lsbar>ul {
	margin:0px;
	padding:0px;
	text-decoration:none;

}

 #left-side-bar>ul>li.lsbar>ul>li>a {
	  color:yellow;
	  font-size: 13px;
	  text-align:center;
	  padding: 25px 5px 30px 15px;
	  text-decoration:none;
	  text-transform:uppercase;
	  border:1px solid black;
	  border-radius:5px;
	  background-color:  #005321;
	  display:block;
	  	
	  
  } 
   
 
 #left-side-bar>ul>li.lsbar:hover>ul{
	   
	   display:block;
	
 } 
 
 
 



#right-side-bar{
	margin-top:1px;
	width: 190px;
	min-height: 400px;
	background-color: #005321;
	border: 1px solid black;
	float: right;
	
	
}

p{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
	color:#fff;
	 text-indent:10px;
	
	
	
}

#right-side-bar a {
	font-size:17px;
	color:  red;
	float:left;
	margin-left:5px;
	position:relative;
	display:block;
	
	
	
}




#main-content{
	
	margin-left:130px;
	margin-top:1px;
	width: 700px;
	min-height: 750px;          
	background-color:#a14102 ;
	float: left;
}



#main-content h1 {
	color:#3d322d;
	text-transform:uppercase;
	font-family:Comic Sans, Comic Sans MS, cursive;
	
	
}

 #main-content p {
	 text-indent:35px;
	 float:left;
	margin-top:20px;
	padding:3px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
	color:#3d322d;

}
#kont{
    margin-top: 200px;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
#kont>p{
    font-size: 20px;

    
}





.image {
	padding:2px;
	margin :2px;
	
	
}

#footer{
	width: auto;
	height: 50px;
	background-color: #693604;
	border: 0px solid #fff;
}

#footer p{
	text-align:center;
	color:#fff;
	font-size:12px;
	padding:3px;
	
	
}





.clearer{
	clear: both;
	margin: 0px;
	padding: 0px;
}


